.before-class.class.class-before(type="button", class=boolean ? "test" : "fact")= "type"
  .class.class-before.after-class(type="button", class=boolean ? "test" : "fact")= "type"
  .test.place(type="button")= "type"

#types.test.place(type="button")= "type"

input.bar.baz.foo(
  readonly,
  name="test-input",
  type="password",
  value="Hello World",
  atrr="more attrs"
)

input.bar.baz.foo(
  readonly,
  name="test-input",
  type="password",
  value="Hello World",
  atrr="more attrs"
)

p.text-center.mb-0: small: a.text-black-50(href=url)= t("text")
