div(type="button", class=boolean ? "test" : "fact").before-class.class.class-before= "type"
  div(type="button", class=boolean ? "test" : "fact").class.class-before.after-class= "type"
  div(type="button").test.place= "type"

#types(type="button").test.place= "type"

input(
  readonly,
  name="test-input",
  type="password",
  value="Hello World",
  atrr="more attrs"
).bar.baz.foo

input(
  readonly,
  name="test-input",
  type="password",
  value="Hello World",
  atrr="more attrs"
).bar.baz.foo

p.text-center.mb-0: small: a(href=url).text-black-50= t("text")
