li #[b #{ key }:] #{ value }
li #{ key } #{ value }
li #[b #{ key }:] #[i= value]

li #[b #{ key }: ]#{ value }
li #[b #{ key }: ]#[i= value]

div
  li #[b #{ key }:] #{ value }
  li #{ key } #{ value }
  li #[b #{ key }:] #[i= value]

  li #[b #{ key }: ]#{ value }
  li #[b #{ key }: ]#[i= value]
