- const id = 42;

h2 ID \#{{ id }}
h2 \#{{ id }}

h2 ID #{ '#{{ id }}' }
h2 #{ '#{{ id }}' }

h2 ID #{ id }
h2 #{ id }
h2 ID #[b id]
h2 #[b id]
h2 ID #[b #{ id }]
h2 #[b #{ id }]

h2 ID \#{id}
h2 \#{id}
h2 ID \#[b id]
h2 \#[b id]
h2 ID \#[b #{ id }]
h2 ID #[b \#{id}]
h2 ID \#[b \#{id}]
h2 \#[b #{ id }]
h2 #[b \#{id}]
h2 \#[b \#{id}]
